<div class="log-form">
	<h2>Jelentkezz be az accountodba!</h2>
	<form ref="loginForm"
    id="loginForm" 
    action="/login" 
    method="POST" 
    encType="application/json">
		<input type="text" name="username" placeholder="Felhasználónév" />
		<input type="password" name="password" placeholder="Jelszó" />
		<button type="submit" class="btn">Login</button>
	</form>
</div>