<div class="log-form">
	<h1>Új bejegyzés létrehozása</h1>
	<form action="/new/insert" method="post">
		<input type="text" name="workNumber" placeholder="Munkajegyszám" /><br>
		<input type="text" name="shortNote" placeholder="Megjegyzés..." />
		<button type="submit" class="material-icons">done</button>
	</form>
	<form action="/list" method="get">
		<button type="submit" class="material-icons">reply</button>
	</form>
</div>