body {
    font-family: Arial;
    background: url(http://sf.co.ua/2012/wallpaper-1850864.jpg) no-repeat center center fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
h1 {
    margin: 10px 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: black;
    color: #c3c5c9;
    text-align: center;
}
table {
    margin: auto;
    position: relative;
}
table.butts {
    margin: auto;
    position: relative;
    left: 43%;
}
th, td {
    padding: 5px;
    border-radius: 5px;
    background-color: grey;
    border: 1px solid black;
    text-align: center;
}
td {
 background-color: white;
}
td.clean, th.clean {
    border: 0;
    background-color: transparent;
}
button {
    border-radius: 5px;
	background: black;
	padding: 8px 12px 8px 12px;
    border-style: outset;
    border-width: 2px;
    border-color: grey;
	color: white;
}
#red:hover{
    background: black;
    color: red;
}
#green:hover{
    background: black;
    color: green;
}
#blue:hover{
    background: black;
    color: blue;
}
#yellow:hover{
    background: black;
    color: yellow;
}
button:active {
    background: black;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    border-style: inset;
    border-width: 2px;
    border-color: grey;
	color: white;
}
input {
    align-content: center;
    padding: 12px 10px 12px 10px;
    margin: 8px 8px;
    border: 1px solid black;
    border-radius: 5px;
}

  